.rounded-2 {
  width: auto;
  height: 100%;
  max-height: 400px;
}

.experience {
  margin-bottom: 25vh;
  padding-top: 80px;
}

.details-block {
  margin-bottom: 12vh;
}

@media (max-width: 1440px) {
  .rounded-2 {
    max-height: 400px;
  }
}
