<div class="hero">
  <div class="row"></div>
  <div class="col-12">
    <div class="hero-description">
      <h1>Juan Reyes</h1>
      <ngx-typed-js
        [strings]="[
          '^700 Mechatronics Engineer.',
          '^700 Control Systems Lead.',
          '^700 Website Developer.',
          '^700 Quality Coordinator.',
          '^700 Systems Engineer.'
        ]"
        [shuffle]="false"
        [typeSpeed]="65"
        [backSpeed]="75"
        [loop]="true"
        [backDelay]="2000"
        ><p>I'm a<span class="typing"></span></p>
      </ngx-typed-js>
    </div>
  </div>
</div>

