<div class="hero row">
  <div class="col-6">
    <div class="hero-left">
      <div class="hero-description">
        <h1>Juan Reyes</h1>
        <div class="auto-type">
          <ngx-typed-js
            [strings]="[
              '^700 a Mechatronics Engineer.',
              '^700 a Control Systems Lead.',
              '^700 a Website Developer.' 
            ]"
            [shuffle]="false" 
            [typeSpeed]="80"
            [backSpeed]="80"
            [loop]="true"
            [backDelay]="1200"
            ><p>I am <span class="typing"></span></p>
          </ngx-typed-js>
        </div>
      </div>

      <!-- <h1>I am <span class="auto-type"></span></h1> -->
    </div>

    <!-- <p>Welcome to my portfolio</p> -->
  </div>
  <div class="col-6">
    <!-- <p>Some other portfolio content</p> -->
  </div>
</div>
