.hero {
    margin-bottom: 25vh;
    height: 100vh;
}

.hero-description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-description p {
    font-size: clamp(24px, 2vw, 36px);
    font-weight: 100;
}