:root {
  // dark-mode colors
  --text-color-dark: #edeae3;
  --background-color-dark: #100f0a;
  --block-color-dark: #1b1a14;
  --primary-color-dark: #cbc4af;
  --secondary-color-dark: #57603e;
  --accent-color-dark: #94a677;

  // light-mode colors
  --text-color-light: #1c1912;
  --background-color-light: #f5f4ef;
  --block-color-light: #eae9e4;
  --primary-color-light: #504934;
  --secondary-color-light: #b8c19f;
  --accent-color-light: #768859;

  // blue-mode colors (testing different styles)
  // --text-color-dark-blue: #050316;
  // --background-color-dark-blue: #fbfbfe;
  // --primary-color-dark-blue: #2f27ce;
  // --secondary-color-dark-blue: #dddbff;
  // --accent-color-dark-blue: #443dff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-x: hidden;
}

button, .a-button{
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

.dark-mode {
  background-color: #00000000;
  color: var(--text-color-dark);

    .juan-badge {
    color: var(--text-color-light);
    background-color: var(--block-color-light);
}

  .icon-link {
    color: var(--primary-color-dark);
    font-size: 35px;
  }
  .icon-link:hover {
    color: #cce0ac;
  }
  .icon-link:active {
    color: var(--secondary-color-dark);
  }

  .fa-check {
    color: #cce0ac;;
  }

  .card {
    background-color: #222222a0;

    .card-title {
      color: var(--text-color-dark);
    }

    .card-footer {
      background-color: #222222;
    }
  }

  // dark header component
  .header {
    background-color: var(--background-color-dark);
    box-shadow: 0 10px 20px black;
    border-bottom: 2px solid var(--block-color-dark);
    color: var(--text-color-dark);
  }

  .navbar,
  .navbar-brand,
  .nav-link {
    color: var(--text-color-dark);
  }

  .nav-link:hover {
    color: var(--primary-color-dark);
  }

  button, .a-button {
    background-color: #ffffff00;
    color: var(--text-color-dark);
    border-color: var(--text-color-dark);

    &:hover {
      background-color: var(--accent-color-dark);
      border-color: #00000000;
    }
  }

  .btn-primary:active {
    background-color: #768859;
    border-color: #00000000;
  }

  h1 {
    color: var(--text-color-dark);
  }

  p {
    color: var(--text-color-dark);
  }

  .hero-description p {
    color: var(--primary-color-dark);
  }

  .typing {
    background: linear-gradient(
      var(--secondary-color-dark),
      var(--accent-color-dark)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .corner-square {
    &.top-left {
      background-color: var(--secondary-color-dark);
    }
    &.top-right {
      background-color: var(--secondary-color-dark);
    }
    &.right-middle {
      background-color: var(--accent-color-dark);
    }
    &.top-middle-lg {
      background-color: var(--text-color-dark);
    }
    &.top-middle-sm {
      background-color: var(--block-color-dark);
    }
    &.bottom-left {
      background-color: var(--accent-color-dark);
    }
    &.bottom-right {
      background-color: var(--primary-color-dark);
    }
  }
}

.light-mode {
  background-color: #00000000;
  color: var(--text-color-light);

  .juan-badge {
    color: var(--text-color-dark);
    background-color: var(--block-color-dark);
}

  .icon-link {
    color: var(--primary-color-light);
    font-size: 35px;
  }
  .icon-link:hover {
    color: #cce0ac;
  }
  .icon-link:active {
    color: var(--secondary-color-light);
  }

  .fa-check {
    color: #92a86e;
  }

  .card {
    background-color: #ffffffa0;

    .card-title {
      color: var(--text-color-light);
    }

    .card-footer {
      background-color: whitesmoke;
    }
  }

  // light header component
  .header {
    background-color: var(--background-color-light);
    box-shadow: 0 2px 5px rgb(158, 158, 158);
    border-bottom: 2px solid var(--block-color-light);
    color: var(--text-color-light);
  }

  .navbar,
  .navbar-brand,
  .nav-link {
    color: var(--text-color-light);
  }

  .nav-link:hover {
    color: var(--primary-color-light);
  }

  button, .a-button {
    background-color: #00000000;
    color: var(--text-color-light);
    border-color: black;

    &:hover {
      background-color: var(--accent-color-light);
      border-color: #00000000;
      color: white;
    }
  }

  .btn-primary:active {
    background-color: #92a86e;
    border-color: #00000000;
  }

  h1 {
    color: var(--text-color-light);
  }

  p {
    color: var(--text-color-light);
  }

  .hero-description p {
    color: var(--primary-color-light);
  }

  .typing {
    background: linear-gradient(
      var(--secondary-color-light),
      var(--accent-color-light)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .corner-square {
    &.top-left {
      background-color: var(--secondary-color-light);
    }
    &.top-right {
      background-color: var(--secondary-color-light);
    }
    &.right-middle {
      background-color: var(--accent-color-light);
    }
    &.top-middle-lg {
      background-color: var(--text-color-light);
    }
    &.top-middle-sm {
      background-color: var(--block-color-light);
    }
    &.bottom-left {
      background-color: var(--accent-color-light);
    }
    &.bottom-right {
      background-color: var(--primary-color-light);
    }
  }
}
